/* You can add global styles to this file, and also import other style files */
@import "src/_themes.scss";
@import '~bootstrap/scss/bootstrap';

/* Provide sufficient contrast against white background */
* {
  color: #F2789F;
}

body {
  background-color: #F9C5D5;
}

.test-class {
  background-color: red !important;
  color: green !important;
}

.form-control {
  color: #F2789F !important;
  border-color: #F999B7 !important;
}

.transparent-bg {
  background-color: transparent !important;
}

.form-control:focus {
  background-color: #F9C5D5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #F2789F;
}

code {
  color: #e01a76;
}

img.logo {
  max-width: 100px;
  max-height: 100px;
}

.override-form-control {
  appearance: auto !important;
}

.dropdown-item:active, .dropdown-item.active {
  background: #FEE3EC;
}

.center-vertically {
  vertical-align: middle;
}

.tlDealButton:not(:hover) {
  background-color: #FFF !important;
}
