.main-view {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #FEE3EC;
  border-radius: 20px;
}

.main-view-row {
  padding-left: 10%;
}

.main-view-row > * {
  display: inline-block;
}

* ~ .main-view-row > * {
  padding-right: 5%;
}
