<div class="main-view">
  <div class="main-view-row">
    <app-city-textbox
        [(model)]="fromCity"
        [allCities]="allCities"
        [displayText]="fromText"
        style="padding-right: 10%;"
      >
    </app-city-textbox>
    <app-city-textbox
      [(model)]="toCity"
      [allCities]="allCities"
      [displayText]="toText"
    >
    </app-city-textbox>
  </div>

  <div class="main-view-row">
    <div>
      Weight (kg):
      <br>
      <input class="form-control transparent-bg" type="number">
    </div>

    <div>
      Width (cm):
      <br>
      <input class="form-control transparent-bg" type="number">
    </div>

    <div>
      Height (cm):
      <br>
      <input class="form-control transparent-bg" type="number">
    </div>

    <div>
      Depth (cm):
      <br>
      <input class="form-control transparent-bg" type="number">
    </div>

    <div>
      Choose package type:
      <br>
      <app-dropdown></app-dropdown>
    </div>

  </div>
  <div class="main-view-row">
    <button style="margin-top: 20px;" class="btn btn-outline-primary" (click)="estimateClicked()"><b>Estimate!</b></button>
  </div>

  <div style="padding-top: 20px;">
    <app-routes-table
      [isCollapsed]="selectedRoutesCollapsed"
    >
    </app-routes-table>
  </div>
</div>
