.main-view {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #FEE3EC;
  border-radius: 20px;
}

.main-view-row {
  padding-left: 10%;
}

.main-view-row > * {
  display: inline-block;
}

* ~ .main-view-row > * {
  padding-right: 5%;
}

.logo-bg {
  background-image: url('/assets/extra_logo.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.03;
  pointer-events: none;
}
