<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img class="logo" src="/assets/extra_logo.png">
      </a>
      <div
        class="d-sm-inline-flex justify-content-end"
      >
        <ul class="navbar-nav flex-grow">

          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a i18n class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a i18n class="nav-link text-dark" [routerLink]="['/services']"
              >Services</a
          >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a i18n class="nav-link text-dark" [routerLink]="['/contact-us']"
              >Contact us</a
          >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a i18n class="nav-link text-dark" [routerLink]="['/about-us']"
              >About us</a
          >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a i18n class="nav-link text-dark" [routerLink]="['/sign-up']"
              >Sign up / Sign in</a
          >
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
